@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);



#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #28324e;
}
#ext_menu-0 .mbr-brand__name a {
  font-size: 19px;
  font-family: 'Oswald', sans-serif;
}
#header4-r H1 {
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  color: #fac51c;
}
#header4-r P {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  color: #f97352;
}
#contacts3-a P {
  color: #fac51c;
}
#footer1-c P {
  color: #2c2c2c;
}



#header4-p H1 {
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  color: #fac51c;
}
#header4-p P {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  color: #f97352;
}
#ext_menu-1 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1 .mbr-navbar__hamburger {
  color: #28324e;
}
#ext_menu-1 .mbr-brand__name a {
  font-size: 19px;
  font-family: 'Oswald', sans-serif;
}
#footer1-c P {
  color: #2c2c2c;
}



#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2 .mbr-navbar__hamburger {
  color: #28324e;
}
#ext_menu-2 .mbr-brand__name a {
  font-size: 19px;
  font-family: 'Oswald', sans-serif;
}
#header4-o H1 {
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  color: #fac51c;
}
#header4-o P {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  color: #f97352;
}
#contacts3-a P {
  color: #fac51c;
}
#footer1-c P {
  color: #2c2c2c;
}
